<p>
<div id="contents">
<div class="inner">

<div id="olympicDate">
  <h1>10:00 PM</h1><br>
  Sunday, 31 January 2016 (GMT+9)
  <br><br><br>
</div>

<div id="timer"></div>

<div id="olympicDate">
  To Puzzle 4
</div>
</div><!-- inner -->
</div><!-- contents -->

<!-- <script type="text/javascript" src="jquery&#45;1.10.2.min.js"></script> -->
<!-- <script type="text/javascript" src="jquery.yycountdown.min.js"></script> -->
<script type="text/javascript">
	$("#timer").yycountdown({
		endDateTime   : '2016/01/31 22:00:00'
	});
</script>


